body {
    margin: 60px auto;
    width: 50%;
    /*font-family:'Century Gothic', 'Sans-Serif';*/
    /*font-family: "Lato";*/
    font-family: "Varela Round";
}
nav ul, footer ul {
    font-weight: 1px;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
header nav ul li {
    font-weight: 1px;
}
nav ul li.header-name{
    font-size: 1.25em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1{
    font-size: 3em;
}
h2 {  
    font-family: "Abril Fatface", serif;
}
p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.0em;
    padding-left:0;
}

ul.posts li {
    list-style: none;
    padding-left:0;
}

