<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width"/>
			<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
			<meta charset="UTF-8"> 

			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
			<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

		</head>
		<body>
			<header>
				<nav>
		    		<ul>
		        		<li class="header-name"><a href="/">Mitsue Iwata</a></li>	    			
	        			<li style="float:right"><a href="/contact">Contact</a></li>
	        			<li style="float:right"><a href="/projects">Projects</a></li>
	        			<li style="float:right"><a href="/bio">Bio</a></li>
		    		</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mitiwata@gmail.com">email</a></li>
        			<li><a href="https://github.com/mitsueiwata">github.com/mitsueiwata</a></li>
				</ul>
			</footer>
		</body>
	</html>
