<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

		</head>
		<body>
			<header>
				<nav>

		    		<ul>

		        		<li class="header-name"><a href="/">Mitsue Iwata</a></li>	    			
	        			<li style="float:right"><a href="/blog">Blog</a></li>
	        			<li style="float:right"><a href="/resume">Resume</a></li>
		        		<li style="float:right"><a href="/">Info</a></li>
		    		</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mitiwata@gmail.com">email</a></li>
        			<li><a href="https://github.com/mitsueiwata">github.com/mitsueiwata</a></li>
				</ul>
			</footer>
		</body>
	</html>